<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Hotel la Luz</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
     
      <li><a href="/habitacion">Habitaciones</a></li>
      <li><a href="/atraccion">Atracciones turisticas</a></li>
         <li ><a href="/politica">Politicas</a></li>
        <li ><a href="/contacto">Contactos</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">

      <li><a href="/habitacion">Habitaciones</a></li>
      <li><a href="/atraccion">Atracciones turisticas</a></li>
      <li ><a href="/politica">Politicas</a></li>
  <li ><a href="/contactos">Contactos</a></li>
</ul>
        
<router-outlet></router-outlet>
